{% extends "layout-admin.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main id="register" class="container py-5 px-3">
    
    {% if errormessage is defined %}
      
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ errormessage }} 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% endif %}
    <h1 class="mb-5">Immo35</h1>

    <h2 class="mt-5">Ajouter un utilisateur</h2>

    <form action="index.php?route=checkAddUser" method="post">
        <input type="hidden" name="csrf-token" id="csrf-token" value="{{ token }}" />
        <fieldset class="my-1">
            <label for="firstName" class="form-label">
                Prénom
            </label>
            <input type="text" name="firstName" id="firstName" class="form-control"/>
        </fieldset>
        <fieldset class="my-1">
            <label for="lastName" class="form-label">
                Nom
            </label>
            <input type="text" name="lastName" id="lastName" class="form-control"/>
        </fieldset>
        <fieldset class="my-1">
            <label for="address" class="form-label">
                Adresse
            </label>
            <input type="text" name="address" id="address" class="form-control"/>
        </fieldset>
        <fieldset class="my-1">
            <label for="phone" class="form-label">
                Téléphone
            </label>
            <input type="text" name="phone" id="phone" class="form-control"/>
        </fieldset>
        <fieldset class="my-1">
            <label for="email" class="form-label">
                Email
            </label>
            <input type="email" name="email" id="email" class="form-control"/>
        </fieldset>
        <fieldset class="my-1 form-floating">
            <select class="form-select" id="role" name="role" aria-label="Floating label select example">
                <option selected>Choisir le type d'utilisateur</option>
                <option value="Proprietaire">Propriétaire</option>
                <option value="Locataire">Locataire</option>
            </select>
            <label for="floatingSelect">Listes des Rôles utilisateurs</label>
        </fieldset>
        <fieldset>
            <button type="submit" class="btn btn-primary">Créer un utilisateur</button>
        </fieldset>
    </form>
</main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{{ parent() }}
{% endblock %}


