{% extends "layout-admin.html.twig" %}

{% block title %} Rôle utilisateur {% endblock %}

{% block main %}
<main class="admin container">
    {% if errormessage is defined %}
      
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ errormessage }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% elseif message is defined %}

        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endif %}

    <section class="row justify-content-center align-items-center">
        <h1 class="mt-5">Gestion de utilisateurs <a class="btn btn-success" href="index.php?route=add-user" role="button">+ Ajouter un utilisateur</a> <a class="btn btn-success" href="index.php?route=register" role="button">+ Ajouter un administrateur</a></h1>
        
        <article class="card mb-sm-5">
            <img class="card-img-top" src="../assets/img/proprietaire-image.webp" alt="Card image cap">
            <div class="card-body">
            <h2 class="card-title">Propriétaires</h2>
            <p class="card-text">Ici pour gérer les propriétaires.</p>
            <a href="index.php?route=users-proprietaire&role=proprietaire" class="btn btn-primary">Gérer les Propriétaires</a>
            </div>
        </article>
    
        <article class="card mb-sm-5">
            <img class="card-img-top" src="../assets/img/locataire-image.webp" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Locataires</h2>
                <p class="card-text">Ici pour gérer les locataires.</p>
                <a href="index.php?route=users-locataire&role=locataire" class="btn btn-primary">Gérer les locataires</a>
            </div>
        </article>

        <article class="card mb-sm-5">
            <img class="card-img-top" src="../assets/img/observateur-user-image.webp" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Observateurs</h2>
                <p class="card-text">Ici pour gérer les Observateurs du site.</p>
                <a href="index.php?route=users-admin&role=reader" class="btn btn-primary">Gérer les observateurs</a>
            </div>
        </article>
            
        <article class="card mb-sm-5">
            <img class="card-img-top" src="../assets/img/admin-user-image-1.webp" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Administrateurs </h2>
                <p class="card-text">Ici pour gérer les administrateurs du site.</p>
                <a href="index.php?route=users-admin&role=admin" class="btn btn-primary">Gérer les administrateurs</a>
            </div>
        </article>
    </section>


</main>



{% endblock %}
