{% extends "layout-admin.html.twig" %}

{% block header %}
{{ parent() }}
{% endblock %}


{% block main %}
<main>
    <h1> page pour supprimer un bien </h1>


   
</main>
    
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{{ parent() }}
{% endblock %}