{% extends "layout-admin.html.twig" %}


{% block main %}
<main class="admin container">
    <h1 class="mt-5">Espace d'administration</h1>
    <section class="row justify-content-center align-items-center ">
        <article class="card  mb-sm-5">
            <img class="card-img-top img-thumbnail" src="../assets/img/gestion-biens-image.webp" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Gestion des biens</h2>
                <ul class="list-group list-group-flush">
                    Ici pour la gestion des biens.
                </ul>
                <a href="index.php?route=admin-property-type" class="btn btn-primary">Gérer</a>
            </div>
        </article>
        <article class="card  mb-sm-5">
            <img class="card-img-top img-thumbnail" src="../assets/img/gestion-users-image.webp" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Gestion des utilisateurs</h2>
                <ul class="list-group list-group-flush">
                    Ici pour la gestion des utilisateurs.
                </ul>
                <a href="index.php?route=admin-users-role" class="btn btn-primary">Gérer</a>
            </div>
        </article>
    </section>
    

   
        


 
</main>



{% endblock %}

