{% extends "layout-admin.html.twig" %}

{% block title %} Ajouter un Administrateur {% endblock %}

{% block main %}
<main id="register" class="container admin py-5">
    
    {{ parent() }}

    {% if errormessage is defined %}
      
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ errormessage }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% elseif message is defined %}

        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endif %}
    <h1 class="mb-5">Ajouter un Administrateur pour le site Immo35</h1>

    <form action="index.php?route=check-register" method="post">
        <input type="hidden" name="csrf-token" id="csrf-token" value="{{ token }}" />
        <fieldset class="my-1">
            <label for="firstName" class="form-label">
                Prénom
            </label>
            <input type="text" name="firstName" id="firstName" class="form-control"/>
        </fieldset>
        <fieldset class="my-1">
            <label for="lastName" class="form-label">
                Nom
            </label>
            <input type="text" name="lastName" id="lastName" class="form-control"/>
        </fieldset>
        <fieldset class="my-1">
            <label for="phone" class="form-label">
                Téléphone
            </label>
            <input type="text" name="phone" id="phone" class="form-control"/>
        </fieldset>
        <fieldset class="my-1">
            <label for="email" class="form-label">
                Email
            </label>
            <input type="email" name="email" id="email" class="form-control"/>
        </fieldset>
        <fieldset class="my-1">
            <label for="password" class="form-label">
                Mot de passe
            </label>
            <input type="password" name="password" id="password" class="form-control" />
        </fieldset>
        <fieldset class="my-1">
            <label for="confirm-password" class="form-label">
                Confirmation mot de passe
            </label>
            <input type="password" name="confirm-password" id="confirm-password"  class="form-control"/>
        </fieldset>
        <fieldset >
            <div class="form-check">
                <input type="radio" class="form-check-input" id="administrateur" name="role" value="ADMIN">
                <label class="form-check-label" for="administrateur">Administrateur (Droits administrateur sur ce site)</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="reader" name="role" value="READER">
                <label class="form-check-label" for="reader">Reader (Droits de lecture dans la partie admistration)</label>
            </div>
        </fieldset>
        <fieldset>
            {% if role is defined and role == "READER" %}
            <button type="submit" class="btn btn-primary" disabled>Créer l'administrateur</button>
            {% else %}
            <button type="submit" class="btn btn-primary">Créer l'administrateur</button>
            {% endif %}
        </fieldset>
    </form>
</main>
{% endblock %}


