{% extends "layout.html.twig" %}

{% block noindex %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block title %} Page 404 {% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="page-404">
    <div class="mainbox">
        <div class="err">4</div>
        <i class="far fa-question-circle fa-spin"></i>
        <div class="err2">4</div>
        <div class="msg">Cette page a peut-être été déplacée ? a été supprimée ? Est cachée en quarantaine ? N'a jamais existé ?<p>Retournons à l'accueil <a href="index.php">accueil</a> et essayons à partir de là.</p></div>
          </div>
   
</main>
    
{% endblock %}

{% block script %}

{% endblock %}