{% extends "layout.html.twig" %}

{% block noindex %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block title %} Page 404 {% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}

{% block main %}
<main>
    <h1> page 404 </h1>


   
</main>
    
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}