{% extends "layout.html.twig" %}

{% block ogurl %}?route=contact-manage{% endblock %}

{% block title %} Contact gestion locative {% endblock %}

{% block main %}
<main class="contact">
    {{ parent() }}
    <h1>CONTACT POUR UN MANDAT DE GESTION</h1>
    <p class="text-manage">
        Vous êtes un particulier et vous souhaitez nous confier la gestion locative de votre bien immobilier ?
        Laissez-nous vos coordonnées et profitez de l’<strong>accompagnement sur-mesure</strong> de nos conseillers près de chez vous !
    </p>
    <form id="contact-manage-form" name="contactManage" action="index.php?route=check-contact-manage" method="post" accept-charset="utf-8">

        <fieldset class="civilite-field">
            <!-- <label for="civilite">Civilité<span class="red"> *</span</label> -->
            <p>Civilité<span class="red"> *</span></p>
            <div class="civilite">
               <div class="civilite-1">
                    <label for="mme">Mme</label>
                    <input type="radio" value="Mme" name="civilite" id="civilite" required>
                </div>
                <div class="civilite-2">
                    <label for="m">M.</label>
                    <input type="radio" value="M" name="civilite" id="civilite" required>
                </div> 
            </div>
            
            <p class="comments"></p>
        </fieldset>
        <fieldset class="field">
            <label for="lastname">Nom<span class="red"> *</span></label>
            <input type="text" id="lastname" name="lastname">
            <p class="comments"></p>
        </fieldset>
        <fieldset class="field">
            <label for="firstname">Prenom<span class="red"> *</span></label>
            <input type="text" id="firstname" name="firstname">
            <p class="comments"></p>
        </fieldset>
        <fieldset class="field">
            <label for="phone">Téléphone<span> *</span></label>
            <input type="tel" id="phone" name="phone" required>
            <p class="comments"></p>
        </fieldset>
        <fieldset class="field">
            <label for="email">E-mail<span class="red"> *</span></label>
            <input type="email" id="email" name="email">
            <p class="comments"></p>
        </fieldset>
        <fieldset class="field">
            <label for="telephone">Code postal du bien à gérer<span class="red"> *</span></label>
            <input type="text" id="district" name="district">
            <p class="comments"></p>
        </fieldset>
        <fieldset class="field">
            <label for="city">Ville du bien à gérer<span class="red"> *</span></label>
            <input type="text" id="city" name="city">
            <p class="comments"></p>
        </fieldset>
        <button type="submit" class="btn-front btn-send-msg" >Envoyer</button>
        <p id="thank-you"></p>
        <p id="sendError"></p>
   
</main>
    
{% endblock %}