{% extends "layout.html.twig" %}

{% block main %}
<main class="contact">
    {{ parent() }}
    <h1>contact</h1>
   
    <form id="contact-form" name="contact" action="index.php?route=check-contact" method="post" accept-charset="utf-8">

        <fieldset class="profil-field">
            <label for="profil">Vous êtes ?<span class="red"> *</span></label>
            <select class="profil" id="profil" name="profil">
                <option value="Un particulier">Un particulier</option>
                <option value="Un professionnel une entreprise">Un professionnel/ une entreprise</option>
            </select>
         </fieldset>
        <fieldset class="demande-field">
            <label for="demande-particulier">Votre demande concerne ?<span class="red"> *</span></label>
            <select class="demande-particulier" id="demande-particulier" name="demande-particulier">
                <option value="Un projet d’achat d'un logement neuf">Un projet d’achat d'un logement neuf</option>
                <option value="Un projet d’achat d'un logement ancien">Un projet d’achat d'un logement ancien</option>
                <option value="Un projet de location d'un logement">Un projet de location d'un logement</option>
                <option value="Je souhaite confier la gestion de mon bien">Je souhaite confier la gestion de mon bien</option>
                <option value="Un projet d’achat d'un terrain à construire">Un projet d’achat d'un terrain à construire</option>
                <option value="Un projet de construction d'une maison individuelle">Un projet de construction d'une maison individuelle</option>
                <option value="Une demande d’estimation d'un bien immobilier">Une demande d’estimation d'un bien immobilier</option>
                <option value="Un projet de vente d’un bien immobilier">Un projet de vente d’un bien immobilier</option>
                <option value="Un projet de vente d’un terrain">Un projet de vente d’un terrain</option>
                <option value="Autres">Autres</option>
            </select>

        <select class="demande-professionnelle" id="demande-professionnelle" name="demande-professionnelle" disabled>
            <option value="Un projet d'achat ou de construction de bureaux ou de locaux professionnels">Un projet d'achat ou de construction de bureaux ou de locaux professionnels</option>
            <option value="Un projet de location de bureaux ou de locaux professionnels">Un projet de location de bureaux ou de locaux professionnels</option>
            <option value="Un projet d'achat d’un local commercial">Un projet d'achat d’un local commercial</option>
            <option value="Un projet de location d’un local commercial">Un projet de location d’un local commercial</option>
            <option value="Un projet d’investissement">Un projet d’investissement</option>
            <option value="Un projet de vente d’un terrain">Un projet de vente d’un terrain</option>
            <option value="Je souhaite confier la gestion de mes  bureaux ou local professionnel">Je souhaite confier la gestion de mes  bureaux ou local professionnel</option>
            <option value="Autres">Autres</option>
        </select>
    </fieldset>
        <fieldset class="civilite-field">
            <!-- <label class="civilite" for="civilite">Civilité<span class="red"> *</span></label> -->
            <p>Civilité<span class="red"> *</span></p>
            <div class="civilite">
                <div class="civilite-1">
                    <label for="mme">Mme</label>
                    <input type="radio" value="Mme" name="civilite" id="civilite" required>
                </div>
                <div class="civilite-2">
                    <label for="m">M.</label>
                    <input type="radio" value="M" name="civilite" id="civilite" required>
                </div>
            </div>

            <p class="comments"></p>
        </fieldset>
        <fieldset class="field">
            <label for="lastname">Nom<span class="red"> *</span></label>
            <input type="text" id="lastname" name="lastname">
            <p class="comments"></p>
        </fieldset>
        <fieldset class="field">
            <label for="firstname">Prenom<span class="red"> *</span></label>
            <input type="text" id="firstname" name="firstname">
            <p class="comments"></p>
        </fieldset>
        <fieldset class="demande-professionnelle field">
            <label for="company">Société<span class="red"> *</span></label>
            <input type="text" id="company" name="company" disabled>
            <p class="comments"></p>
        </fieldset>
        <fieldset class="demande-professionnelle field">
            <label for="function">Fonction<span class="red"> *</span></label>
            <input type="text" id="function" name="function" disabled>
            <p class="comments"></p>
        </fieldset>
        <fieldset class="field"> 
            <label for="phone">Téléphone<span class="red"> *</span></label>
            <input type="tel" id="phone" name="phone" required>
            <p class="comments"></p>
        </fieldset>
        <fieldset class="field">
            <label for="email">E-mail<span class="red"> *</span></label>
            <input type="email" id="email" name="email">
            <p class="comments"></p>
        </fieldset>
        <fieldset class="field">
            <label for="district">Code postal<span class="red"> *</span></label>
            <input type="text" id="district" name="district">
            <p class="comments"></p>
        </fieldset>
        <fieldset class="field">
            <label for="city">Ville<span class="red"> *</span></label>
            <input type="text" id="city" name="city">
            <p class="comments"></p>
        </fieldset>
        <fieldset>
            <label for="message">Message<span class="red"> *</span></label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
            <p class="comments"></p>
        </fieldset>
        <button type="submit" class="btn-front btn-send-msg" >Envoyer</button>
        <p id="thank-you"></p>
        <p id="sendError"></p>
   
</main>
    
{% endblock %}