{% extends "layout.html.twig" %}

{% block noindex %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block title %} Gestion des cookies {% endblock %}

{% block main %}
<main>
    <section class="container informations">
        <h1>Politique de Cookies</h1>
        <article>
            <h2>Qu’est-ce qu’un « cookie » ?</h2>
            
            <p>Les cookies sont de petits fichiers texte qu’un site web enregistre sur votre ordinateur ou votre appareil mobile lorsque vous visitez le site.
            
            Ils facilitent votre expérience en ligne en sauvegardant les informations de navigation. Grâce aux cookies, les sites peuvent vous garder connecté, se souvenir de vos préférences de site et vous proposer un contenu personnalisé. Les cookies peuvent également être utilisés pour établir des statistiques sur l’expérience de navigation et pour montrer des publicités ciblées.
            
            En général, les cookies peuvent être classés par :
            
            Domaine :
            
            – Les cookies de première partie sont émis par un site web qu’un utilisateur consulte directement.
            
            – Les cookies tiers ne sont pas créés par le site web consulté, mais par un tiers comme Google Analytics, DoubleClick, Facebook, Twitter, LinkedIn, Youtube, Vimеo, etc.
            
            Objectif :
            
            – Les cookies strictement nécessaires sont requis pour que le site web fonctionne correctement.
            
            – Les cookies de préférences permettent à un site web de se souvenir des choix que vous avez faits dans le passé.
            
            – Les cookies de statistiques aident le propriétaire du site web à collecter des données statistiques et à comprendre comment les visiteurs interagissent avec le site web.
            
            – Les cookies marketing suivent l’activité en ligne de l’utilisateur pour aider les annonceurs à diffuser des publicités plus pertinentes.
            
            Durée :
            
            – Les cookies de session qui sont effacés lorsque l’utilisateur ferme le navigateur.
            
            – Les cookies persistants qui restent sur le dispositif de l’utilisateur pendant une certaine période de temps.</p>
        </article>
        
        <article>
            <h2>Quels sont les cookies et traceurs que nous utilisons ?</h2>
            <p>    Cookie généré par les applications basées sur le langage PHP. Il s'agit d'un identifiant à usage général utilisé pour gérer les variables de session utilisateur. Il s'agit normalement d'un numéro généré aléatoirement, la façon dont il est utilisé peut être spécifique au site, mais un bon exemple consiste à maintenir un statut de connexion pour un utilisateur entre les pages.</p>
        </article> 
        
        <article> 
            <h2>Vos préférences concernant les cookies</h2>
            <p>    Quand vous arrivez pour la première fois sur le site, un bandeau cookie vous propose d’accepter ou de refuser les Cookies qui ne sont pas essentiels au fonctionnement du site. Vous pouvez refuser/ désactiver les Cookies à tout moment, à l’exception des Cookies nécessaires au fonctionnement stable du site. Vous avez la possibilité de modifier à tout moment vos préférences relatives à la gestion des cookies.</p>
        </article>
        
    </section>
    
    
</main>
    
{% endblock %}