<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f1cf090775.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/styles/css/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.1/slick-theme.css"/>
<!--     <link  rel = "stylesheet"  type = "text/css"  href = "slick-lightbox/slick-lightbox.css"/>
 -->
    {% block contentHeadAdmin %}{% endblock %}
    {% block bootstrap %}{% endblock %}
    <title> {% block title %}{% endblock %}| Immo35</title> 
</head>
<body>            
        {% block header %}
        <header>
            <section id="header">
                <p class="logo"><a href="index.php">Immo35</a></p>
            
                <nav class="h-nav">

                
                    
                    <ul class="navlinks-container">
                        <li><a href="index.php?route=rent&status=A+LOUER&typeMedia=vignette">louer</a></li>
                        <li><a href="index.php?route=buy&status=A+VENDRE&typeMedia=vignette">acheter</a></li>
                        <li><a  href="index.php?route=sell">vendre</a></li>
                        <li><a href="index.php?route=contact-manage">gérer</a></li>
                        <li><a href="index.php?route=contact">contact</a></li>
                        <li><a href="index.php?route=login">connexion</a></li>
                        <li><a href="index.php?route=logout">déconnexion</a></li>
                    </ul>
                    

                </nav>
                <button class="burger" type="button" aria-label="Toggle Navaigation" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class="burger-text">Menu</span>
                    
                </button>
            </section>
            {% if role is defined and role == "ADMIN" or role is defined and role == "READER" %}
            {% block contentHeaderAdmin %}
           <section id="header-admin">
                <nav>
                    <ul>
                        <li><a href="index.php?route=admin" >Administration</a></li>
                        <li><a href="index.php?route=admin-property-type" >Biens</a></li>
                        <li><a href="index.php?route=admin-users-role" >Utilisateurs</a></li>
                    </ul>
                </nav>
            </section>
            {% endblock %}
            {% endif %}
            
            
        </header>
        {% endblock %}

        {% block main %}
        
        {% endblock %}

        {% block footer %}
        <footer>
            <section class="copyright">
                <button id="backToTop" class=""><i class="fas fa-chevron-up"></i><a href="#"></a></button>
                <p ><a href="#" target="_blank" rel="noopener noreferrer">Plan |</a> <a href="#" target="_blank" rel="noopener noreferrer">Mentions légales |</a> <a href="#" target="_blank" rel="noopener noreferrer">Politique de confidentialité |</a> <a href="">Politique de cookies</a><span>© Immo 35</span></p>
            </section>
            <section>
                <p>IMMO 35 | ACHAT, VENTE, LOCATION, IMMOBILIER D'ENTREPRISE ET COMMERCIAL</p>
            </section>
        </footer>
        {% endblock %}

        {% block script %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script type="module" src="../assets/js/form.js"></script>
        <script type="module" src="../assets/js/animation.js"></script>
        {% endblock %}
        
</body>
</html>
