<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.1/slick-theme.css"/>
    <link  rel = "stylesheet"  type = "text/css"  href = "slick-lightbox/slick-lightbox.css"/>

    <title> {% block title %}{% endblock %}| Immo35</title>
</head>
<body>            
        {% block header %}
        <header>
            <nav class="h-nav">
                <li><a href="index.php?route=rent&status=A LOUER&typeMedia=vignette">louer</a></li>
                <li><a href="index.php?route=buy&status=A VENDRE&typeMedia=vignette">acheter</a></li>
                <li><a  href="index.php?route=sell">vendre</a></li>
                <li><a href="index.php?route=contact-manage">gérer</a></li>
                <li><a href="index.php?route=contact">contact</a></li>
                <li><a href="index.php?route=login">login</a></li>
                <li><a href="index.php?route=logout">logout</a></li>
            </nav>
            <h1><a href="index.php">Immo35</a></h1>
        </header>
        {% endblock %}

        {% block main %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        {% block script %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script type="module" src="../assets/js/form.js"></script>
        {% endblock %}
        
</body>
</html>
