{% extends "layout.html.twig" %}

{% block noindex %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block title %} Mentions légales {% endblock %}

{% block main %}
<main>
    <h1> page mentions légales</h1>


   
</main>
    
{% endblock %}