{% extends "layout.html.twig" %}

{% block noindex %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block title %} Mentions légales {% endblock %}

{% block main %}
<main>
    <section class="container informations">
        <h1>Mentions Légales</h1>
        <article>
            <h2>Editeur du site</h2>
            <p>Le présent site web est édité par Immo35. <br>
                SAS au capital de 1000 euros. <br>
                Immatriculée au Registre du commerce et des sociétés de Rennes sous le numéro SIRET 42 42 42 42 42.<br>
                Adresse : 10 rue de Rabat <br>
                Téléphone : 42 42 42 42 42 <br>
                Directeur de la publication : John DOE <br>
                Hébergeur <br>
            </p>
        </article>
        <article>
            <h2>Hébergeur</h2>
            <p>Le présent site web est hébergé par : <br>
                Infomaniak <br>
                Siège social : 25 Rue Eugène-Marziano 1227 Genève <br>
                Tél. +41.22.820.35.44 <br>
            </p>
        </article>
    </section>
</main>
    
{% endblock %}