{% extends "layout.html.twig" %}

{% block ogurl %}?route=login{% endblock %}

{% block title %} Connexion {% endblock %}

    {% block main %}
    <main id="login" class="container">
        {{ parent() }}
        {% if errormessage is defined %}
      
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ errormessage }} 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elseif message is defined %}

            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message }} 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <h1 class="mb-5">Espace de gestion Immo35</h1>
    
        <form id="login-form" action="index.php?route=check-login" method="post">
            <h2 class="mt-5">Connexion</h2>
            <input type="hidden" name="csrf-token" id="csrf-token" value="{{ token }}" />
            <label for="honeypot" aria-hidden="true" class="honeypot-hidden">Honeypot </label>
            <input type="hidden" name="honeypot" id="honeypot">
            <fieldset class="my-1">
                <label for="email" class="form-label">
                    Email
                </label>
                <input type="email" name="email" id="email" class="form-control"/>
            </fieldset>
            <fieldset class="my-1">
                <label for="password" class="form-label">
                    Mot de passe
                </label>
                <input type="password" name="password" id="password" class="form-control" />
            </fieldset>
            <div class="iconcaptcha-widget" data-theme="light"></div>
            <button type="submit" class="btn-front btn-login" >Connexion</button>
        </form>
    </main>
    {% endblock %}

   


