{% extends "layout.html.twig" %}

{% block noindex %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block title %}Politique de confidentialité{% endblock %}

{% block main %}
<main>
    <h1> page politique de confidentialité</h1>


   
</main>
    
{% endblock %}