@charset "UTF-8";
/* *****************************************************************
                            Fonts
***************************************************************** */
@font-face {
  font-family: "ProzaLibre";
  src: url(‘/assets/styles/css/font/Proza_Libre/ProzaLibre-SemiBoldItalic.ttf’) format(‘truetype’);
}
/* *****************************************************************
                            RESET
***************************************************************** */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* *****************************************************************
                            TOOLS
***************************************************************** */
/* 
Rappel:
rem pour les police
em pour les marges padding bordures */
* {
  box-sizing: border-box; /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}

html {
  font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}

body {
  font-size: 1.6rem; /* on remets la taille du texte par défaut pour le body à 16px en utilisant les rem comme unité) */
  font-family: "Roboto", sans-serif;
  width: 100vw;
}

/* responsive mixin sass*/
/* *****************************************************************
                            GENERAL
***************************************************************** */
main {
  height: 100%;
}
main .container {
  max-width: 1200px;
}

img {
  width: 100%;
  height: auto;
}

/* *****************************************************************
                        HEADER + MENU BURGER 
***************************************************************** */
header li {
  list-style: none;
  padding-bottom: 2rem;
  padding-left: 2em;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
header li a {
  text-decoration: none;
  color: #506F7E;
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  text-transform: uppercase;
}
header li a:hover {
  color: #E2003B;
}
header li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.6rem;
  width: 100%;
  height: 0.2rem;
  transform: scaleX(0);
  transform-origin: left;
  background: #E2003B;
  transition: transform 0.3s ease-out;
}
header li a:hover::after {
  transform: scaleX(1);
}
header p.logo {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
header p.logo a {
  font-family: "ProzaLibre", sans-serif;
  font-size: 6rem;
  color: #E2003B;
}
header a {
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  header {
    box-shadow: inset 0 -0.1rem 0 #c5c5c6;
    background: #fff;
    width: 100vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 2rem 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .navlinks-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    position: absolute;
    background: #fafafa;
    top: 100%;
    left: 0;
    padding: 1.5rem 5rem 1.5rem 2rem;
    border-right: 0.1rem solid #c5c5c6;
    transform: translate(-100%);
    transition: transform 0.3s ease-out;
    z-index: 5;
  }
  header .open {
    transform: translate(0%);
  }
  header li a {
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  header .burger-text {
    color: #506F7E;
    text-align: center;
  }
  header .burger {
    width: 3rem;
    order: 1;
    height: 4rem;
    cursor: pointer;
    border: none;
    display: flex;
    background: #fafafa;
    align-items: center;
    justify-items: center;
    position: relative;
  }
  header .burger span {
    display: block;
    width: 100%;
    height: 0.3rem;
    background: #506F7E;
    position: absolute;
    pointer-events: none;
    transition: opcity 0.3s 0.15s ease-out;
  }
  header .burger span:nth-child(1),
  header .burger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
  header .burger span:nth-child(1) {
    transform: translateY(0.7rem);
  }
  header .burger span:nth-child(3) {
    transform: translateY(-0.7rem);
  }
  header .burger span:nth-child(4) {
    transform: translateY(1.4rem);
    height: 0;
  }
  header .burger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  header .burger.open span:nth-child(2) {
    opacity: 0;
    transition: opcity 0s ease-out;
  }
  header .burger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }
}
@media screen and (min-width: 901px) {
  header {
    position: sticky;
    top: 0;
    background: #fff;
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
    width: 100vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 2rem 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 2em 0;
    width: 100%;
  }
  header nav .navlinks-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  header .burger {
    display: none;
  }
}

/* *****************************************************************
                            FOOTER
***************************************************************** */
footer {
  display: block;
}
footer section {
  padding: 2em;
}
footer section p {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}
footer section:nth-child(1) {
  background: #dce2e5;
  font-size: 1.6rem;
}
footer section:nth-child(1) a {
  color: #506F7E;
  text-decoration: none;
}
footer section:nth-child(1) span {
  padding-left: 2em;
  color: #E2003B;
}
footer section:nth-child(1) a:hover {
  color: #E2003B;
}
footer section:nth-child(1) a:link, footer section:nth-child(1) a:visited, footer section:nth-child(1) a:hover, footer section:nth-child(1) .a:active {
  color: #506F7E;
}
footer section:nth-child(2) {
  font-weight: bold;
  background: black;
  color: #fff;
}

/* *****************************************************************
                            HOME
***************************************************************** */
.home-main-header {
  width: 100vw;
  padding-bottom: 2em;
  width: 100vw;
  position: relative;
  z-index: -5;
}
@media screen and (max-width: 900px) {
  .home-main-header .title-home {
    padding: 0.5em;
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #000;
    z-index: 2;
    width: 100%;
    text-align: center;
  }
  .home-main-header article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    z-index: 1;
    position: absolute;
    bottom: -11em;
    border: none;
    width: 100%;
  }
  .home-main-header form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.1em #E2003B;
    padding: 1em;
    background: #fff;
    box-shadow: 0px -30px 82px 0 rgb(255, 255, 255);
    flex-direction: column;
    width: 80%;
  }
  .home-main-header form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 1em 1.5em 0em;
    width: 100%;
    color: #506f7e;
    font-weight: 500;
  }
  .home-main-header form label {
    width: 70%;
    padding-bottom: 0.5em;
    text-align: left;
  }
  .home-main-header form select {
    width: 70%;
    height: 3rem;
    color: #506f7e;
  }
  .home-main-header form button {
    width: 20rem;
    height: 4.5rem;
    font-weight: 800;
    font-size: 1.8rem;
    background: #E2003B;
    color: #fff;
    cursor: pointer;
    border: none;
    position: relative;
    outline: 0;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  .home-main-header form button:before {
    content: "";
    position: absolute;
    background: #506f7e;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }
  .home-main-header form button:hover:before {
    top: 0;
  }
  .home-main-header form button::after {
    position: absolute;
    right: 2rem;
    top: -moz-calc(50% - .6rem);
    top: calc(55% - 0.6rem);
    font-size: 1rem;
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: auto;
    -moz-transition: right 0.5s;
    transition: right 0.5s;
  }
  .home-main-header section.card-section {
    display: flex;
    flex-wrap: wrap;
  }
  .home-main-header section.card-section .card {
    margin: 1rem;
  }
}
@media screen and (min-width: 901px) {
  .home-main-header .title-home {
    padding: 0.5em;
    font-weight: 900;
    font-size: 4rem;
    text-transform: uppercase;
    color: #000;
    z-index: 2;
    width: 100%;
    text-align: center;
  }
  .home-main-header article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    z-index: 1;
    position: absolute;
    bottom: -1em;
    border: none;
    width: 100%;
  }
  .home-main-header form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.1em #E2003B;
    padding: 1em;
    background: #fff;
    box-shadow: 0px -30px 82px 0 rgb(255, 255, 255);
  }
  .home-main-header form fieldset {
    display: flex;
    flex-direction: column;
    padding: 0 1em 1.5em 0em;
    color: #506f7e;
    font-weight: 500;
  }
  .home-main-header form label {
    padding-bottom: 0.5em;
  }
  .home-main-header form select {
    width: 20rem;
    height: 3rem;
    color: #506f7e;
  }
  .home-main-header form button {
    width: 20rem;
    height: 4.5rem;
    font-weight: 900;
    font-size: 1.8rem;
    background: #E2003B;
    color: #fff;
    cursor: pointer;
    border: none;
    position: relative;
    outline: 0;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  .home-main-header form button:before {
    content: "";
    position: absolute;
    background: #506f7e;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }
  .home-main-header form button:hover:before {
    top: 0;
  }
  .home-main-header form button::after {
    position: absolute;
    right: 2rem;
    top: -moz-calc(50% - .6rem);
    top: calc(55% - 0.6rem);
    font-size: 1rem;
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: auto;
    -moz-transition: right 0.5s;
    transition: right 0.5s;
  }
}

@media screen and (max-width: 900px) {
  section.card-section .card-section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10em;
  }
  section.card-section .card-section .card {
    margin: 1rem;
  }
}
@media screen and (min-width: 901px) {
  section.card-section .card-section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10em;
  }
  section.card-section .card-section .card {
    margin: 1rem;
  }
}

.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 15em;
}
.card-section .card {
  margin: 1rem;
}

/* *****************************************************************
                            a ranger
***************************************************************** */
#contact .demande-particulier {
  display: block;
}
#contact .demande-professionnelle {
  display: none;
}

.slick-arrow::before {
  background: #2169ec;
}

.dropzone {
  display: inline-block;
  width: 600px;
  padding: 15px;
  background-color: rgba(33, 105, 236, 0.1294117647);
  border: 3px #2169ec dashed;
  border-radius: 5px;
}

.dz-default.dz-message {
  text-align: center;
  margin-bottom: 15px;
}

.dropzone .dz-preview {
  display: block;
  padding: 0;
  margin: 0 0 15px 0 !important;
  width: 100% !important;
  height: 100px;
}

.dz-image {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}

.dz-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropzone .dz-preview .dz-progress {
  position: absolute;
  bottom: 0;
  left: 110px;
  width: calc(100% - 110px);
}

.dropzone .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark {
  position: absolute;
  top: 5px !important;
  left: auto !important;
  right: 5px !important;
}

/*# sourceMappingURL=style.css.map */
